<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Users</h1>
    <% for (let index = 0; index < data.length; index++) {%>
    <h2><a href="/<%= data[index].id %>"><%= data[index].id%></a></h2>
    <p><%= data[index].Name %></p>
    <p><%= data[index].Email %></p>
    <p><%= data[index].Password %></p>
    <% } %>

    <p>
        <a href=/add>Add user</a>
      </p>
</body>

</html>